html, body, #root{
    padding:0;
    margin: 0;
    width: 100vw;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #262626;
  padding: 10px 20px;
  height: 13vh;  
}

.logo-style {
  height: 50px;
  border: 1px solid #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #00bcd4;
}