.navbar-logo {
    height: 10vh;
    width: 10vw;
    padding: 0px;    
    border-radius: 50%;    
}
.bg-navbar{
    background-color: #424242!important;    
}
.btn-outline-dark{
    color:#fff!important;
    border: 1px solid #fff !important;
    padding: 10px;
}